# Kotlin Toolchain and dependency files
/kotlin @Heapy/maintainers-kotbusta
/kotlin.bat @Heapy/maintainers-kotbusta
/project.yaml @Heapy/maintainers-kotbusta
/libs.versions.toml @Heapy/maintainers-kotbusta
**/module.yaml @Heapy/maintainers-kotbusta
/build-logic/distribution/** @Heapy/maintainers-kotbusta
