# Ignore Idea project-specific configuration files
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Kotlin compiler errors
.kotlin

# Data
data/kotbusta.db

# Configuration
.env

# Temporary
fb2-168103-172702
flibusta_fb2_local
flibusta_fb2_local.inpx
flibusta_fb2_local.inpx.txt
flibusta_fb2_local.zip
fb2-168103-172702.zip
all-files.txt