# System
.DS_Store

# Ignore Idea project-specific configuration files
.idea

# Ignore local build-tool caches
.gradle

# Ignore Kotlin Toolchain build output
build

# Kotlin compiler errors
.kotlin

# Configuration
.env

# Lucene index and database
.data

# Test Unpacked Data
src/test/resources/flibusta-sample/
